//Created by xuwc on 2017/11/13.
doctype html
html(lang='zh-CN')
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
        title= '聊天室'
        link(rel='stylesheet', href='/stylesheets/chat.css')
        link(rel='stylesheet', href='/stylesheets/showLoading.css')
        script(type='text/javascript', src='/javascripts/jquery/jquery.min.js')
        script(type='text/javascript', src='/javascripts/socket.io.js')
        script(type='text/javascript', src='/javascripts/chat/chatroom.js')
        script(type='text/javascript', src='/javascripts/jquery.showLoading.js')
    body
        input(type="hidden" id="id" value='#{id}')
        input(type="hidden" id="userName")
        .chat-wrap
            h1 多人聊天室
            .chat-con.clearfix
            .bottom
                input(type="text" id="sendtxt")
                button(class="sendBtn") 发送
        #activity_pane(style='display:none')