doctype html
html(lang='zh-CN')
  head
    meta(charset="UTF-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/xwc.css')
  body
    block content
