//Created by xuwc on 2017/11/2.

extends layout
block content
    form(action='/saveUser' method='psot')
        div
            label 登录名
            input(type='text' name='loginName' placeholder='请输入登录名' value='')
        div
            label 用户名
            input(type='text' name='userName' placeholder='请输入用户名' value='')
        div
            label 性别
            input(type='text' name='sex' placeholder='请输入性别' value='')
        div
            label 密码
            input(type='text' name='password' placeholder='请输入密码' value='')
        input(type='submit' value='提交')